/* This file is for your main application css. */
@import 'bootstrap';
@import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";

/* LiveView specific classes for your customizations */
.dark-mode {
  background-color: #3e3e3e !important;
  color: white;

  .phx-modal-content{
    background-color: #3e3e3e !important;
    color: white;
  }
  .bg-light{
    background-color: #292929 !important;
  }
  .navbar-light .navbar-nav .nav-link{
    color: white;
  }
  .card, #item_content{
    background-color: #565656;
    color: white;
  }
  .fas{
    color: white;
  }
  .card-link{
    color: white;
  }
  .cke_top{
    background-color: darkgray !important;
  }
  .text-secondary{
    color: #a9a9a9 !important;
  }
  .toggle-button{
    background: #403e3e;
  }
  .logo{
    background-image: url(/images/logo-dark.svg);
  }
}
.nav-item{
  margin-bottom: 0px;
}
.logo{
  width: 86px;
  height: 40px;
  background-image: url(/images/logo.svg);
}
.toggle-button{
  float: right;

  .toggle-label{
    font-size: 0.8em;
    font-weight: lighter;
    margin-right: 8px;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 25px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 26px;
    left: -1px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }  
}

html{
  font-size: 16px;
}

main{
  margin-top: 100px !important;

  .card-text{
    font-size: 0.8em;
  }
  .submit-button{
    float: left;
    width: 100%;
    margin-top: -25px;
    margin-bottom: 20px;
  }
  .btn-medium{
    height: 2.2em;
    width: 6em;
  }
  select:focus{
    background-image: none !important;
  }
}

.cke_toolbar_break{
  display: none !important;
}
.cke_toolbar_last{
  display: none !important;
}
.cke_dialog_page_contents{
  padding: 10px !important;
  box-sizing: border-box !important;

  .cke_dialog_ui_input_text{
    height: auto !important;
  }
}

.scale-50{
  zoom: 0.5;
  -moz-transform: scale(0.5);
}

.pull-right{
  float: right;
}

#body-editor:focus{
  border-color: #ccc !important;
}

.invalid-feedback{
  margin-top: 5px !important;
}

.btn-mute:hover, .btn-mute:focus{
  background-color: white;
  border: none;
}
#body-editor{
  padding-right: 50px;
}

.main-icon{
  font-size: 40px;
}

.card-link{
  color: #949494;
}

.text-mute{
  color: darkgrey;
}

.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
